<!--creating a stronly typed view-->
@model SimpleBlog.Areas.Admin.ViewModels.UsersNew

<h1>New user</h1>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <!--??? difference between editorfor and textboxfor method
    I want to attach the special class to the form created by the editor
        To do that I need low level method textbox for-->
    <div class="form-group">
        @Html.LabelFor(f => f.Username);
        <!--I can pass here css class as an argument to change -->
        <!-- Treat as identifier, in "at class", otherwise it will be treated as keyword-->
        @Html.TextBoxFor(f => f.Username, new {@class="form-control"})
    </div>
}